window {
margin: 0px;
border: 1px solid rgba(255,255,255, 0.1);
background-color: #2e3440;
padding: 10px;
border-radius: 10px;
}

#input {
margin: 5px 5px 15px 5px;
padding: 10px 20px;
border: none;
color: #d8dee9;
background-color: #3b4252;
border-radius: 7px; 
}

#inner-box {
margin: 5px;
border: none;
background-color: #2e3440;
}

#outer-box {
margin: 5px;
border: none;
background-color: #2e3440;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #d8dee9;
}

#entry{
  margin: 3px 0px;
}

#entry:before{
  display: none;
}

#entry:selected {
  padding: 10px 15px;
  background-color: #3b4252;
  transition: .3s;
}
